.chatContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .messageWrapper {
    padding: 5px;
  }
  
  .messageItem {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    word-break: break-word;
  }
  
  /* הגדרות עבור הודעות יוצאות, ניתן להתאים אותם בהתאם ללוגיקה שלך */
  .messageItem.outgoing {
    background-color: #0084ff;
    color: white;
    margin-left: auto;
    margin-right: 10px;
  }
  
  /* הגדרות עבור הודעות נכנסות */
  .messageItem.incoming {
    background-color: #e5e5ea;
    color: black;
    margin-right: auto;
    margin-left: 10px;
  }
  
  .inputMessage {
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: white;
  }
  