.chatContainer {
  display: flex;
  flex-direction: column;
  height: 95vh; /* גובה קבוע לכלי הצ'אט */
  width: 30vw;
  min-width: 600px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 8px;
  overflow: hidden;
}

.messagesList {
  overflow-y: auto; /* אפשר גלילה רק לאורך הציר Y */
  flex-grow: 1; /* לוקח את כל המקום הזמין למעט ה-input */
  scrollbar-width: none; /* עבור Firefox */
  -ms-overflow-style: none; /* עבור Internet Explorer 10+ */
}

.messagesList::-webkit-scrollbar {
  display: none; /* עבור Chrome, Safari, וOpera */
}


.messageWrapper {
  padding: 5px;
}

.inputContainer { /* קונטיינר חדש ל-input */
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  
}



  .messageItem {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 5px;
    word-break: break-word;
  }
  
 
  
  .inputMessage {
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: white;
  }
  