.wavegroup {
    position: relative;
  }
  
  .wavegroup .input {
    
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: 1px solid ;
    border-radius: 20px;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wavegroup .input:focus {
    outline: none;
  }
  

  
  .wavegroup .input:focus ~ label .labelchar,
  .wavegroup .input:valid ~ label .labelchar {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wavegroup .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wavegroup .bar:before,.wavegroup .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wavegroup .bar:before {
    left: 50%;
  }
  
  .wavegroup .bar:after {
    right: 50%;
  }
  
  .wavegroup .input:focus ~ .bar:before,
  .wavegroup .input:focus ~ .bar:after {
    width: 50%;
  }
  
  

  .button {
    background-color: #ffffff00;
    color: #000000;
    width: 8.5em;
    height: 2.9em;
    border: #3654ff 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
  }
  
  .button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.2em 0.8em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em
  }