.message {
    background-color: #e0fffd; /* רקע הודעות נכנסות בגוון אפור בהיר */
    color: #333; /* צבע טקסט */
    width: auto; /* התאמה אוטומטית של הרוחב לתוכן */
    max-width: 70%; /* מקסימום 70% מהקונטיינר */
    min-width: 100px; /* מינימום רוחב */
    min-height: 40px; /* גובה מינימלי */
    padding: 10px 15px; /* פדינג */
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 20px; /* קצוות מעוגלים */
    margin-bottom: 10px; /* מרווח מתחת לכל הודעה */
    word-break: break-word; /* שבירת מילים כדי למנוע גלישה */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); /* הוספת צל קל להבלטה עדינה */
  }
  
  .name {
    font-size: 14px; /* גודל פונט מוקטן לשם השולח */
    font-weight: bold; /* עובי פונט */
    color: #009eca; /* כחול טלגרם */
    margin-bottom: 2px; /* מרווח בין שם השולח לתוכן */
  }
  
  .content {
    font-size: 16px; /* גודל פונט לתוכן */
    color: #333; /* צבע טקסט */
  }
  
  .time {
    font-size: 12px; /* גודל פונט קטן לזמן */
    color: #666; /* צבע אפור בהיר יותר */
    align-self: flex-end; /* מיקום בצד ימין */
    margin-top: 5px; /* מרווח מעל הזמן */
  }
  